<link rel="stylesheet" href="/footer.css">
<div class="footer">

    <div class="footerLink">
        <div>Home</div>
        <div>Privacy Policy</div>
        <div>Contact Us</div>
        <div>Report an Issue</div>
    </div>
    <br><br>
    <div class="footerIcon">
        <div><i class="fa-brands fa-facebook"></i></div>
        <div><i class="fa-brands fa-instagram"></i></div>
        <div><i class="fa-brands fa-youtube"></i></div>
        <div><i class="fa-brands fa-square-x-twitter"></i></div>
        <div><i class="fa-solid fa-envelope"></i></div>
    </div>


</div>