<link rel="stylesheet" href="/footer.css">
<div class="footer">
    
    <div class="footerLink">
        <span>Home</span>
        <span>Privacy Policy</span>
        <span>Contact Us</span>
        <span>Report an Issue</span>
    </div>
    <br><br>
    <div class="footerIcon">
        <span><i class="fa-brands fa-facebook"></i></span>
        <span><i class="fa-brands fa-instagram"></i></span>
        <span><i class="fa-brands fa-youtube"></i></span>
        <span><i class="fa-brands fa-square-x-twitter"></i></span>
        <span><i class="fa-solid fa-envelope"></i></span>
    </div>


</div>