<link rel="stylesheet" href="/footer.css">
<div class="footer">

    <div class="footerLink">
        <div><a href="/">Home</a></div>
        <div><a href="/contact">Privacy Policy</a></div>
        <div><a href="/contact">Contact Us</a></div>
        <div><a href="/contact">Report an Issue</a></div>
    </div>
    <br><br>
    <div class="footerIcon">
        <div><a href="https://youtube.com/@raghavdwivedi-i4i?si=C9WHUp5CwkHMVsvs"><i class="fa-brands fa-facebook"></i></a></div>
        <div><a href="https://youtube.com/@raghavdwivedi-i4i?si=C9WHUp5CwkHMVsvs"><i class="fa-brands fa-instagram"></i></a></div>
        <div><a href="https://youtube.com/@raghavdwivedi-i4i?si=C9WHUp5CwkHMVsvs"><i class="fa-brands fa-youtube"></i></a></div>
        <div><a href="https://youtube.com/@raghavdwivedi-i4i?si=C9WHUp5CwkHMVsvs"><i class="fa-brands fa-square-x-twitter"></i></a></div>
        <div><a href="https://youtube.com/@raghavdwivedi-i4i?si=C9WHUp5CwkHMVsvs"><i class="fa-solid fa-envelope"></i></a></div>
    </div>


</div>