<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("includes/impLinks.ejs") %>
        <link rel="stylesheet" href="/contact.css">
        <link rel="stylesheet" href="/contact2.css">
        <title>Contact Us</title>
</head>

<body>
    <%- include("includes/navbar.ejs") %>
        <div class="container">

            <div class="forms">
                <form action="/">
                    <div class="namel" style="margin-bottom: 0.5rem; margin-left: 0.3rem;"><label
                            for="name">Name</label></div>
                    <div class="name"> <input type="text" id="name"></div><br><br>
                    <div class="maill" style="margin-bottom: 0.5rem; margin-left: 0.3rem;"><label
                            for="mail">Email</label></div>
                    <div class="mail"> <input type="email" id="mail"></div><br><br>
                    <div class="msgl" style="margin-bottom: 0.5rem; margin-left: 0.3rem;"><label
                            for="msg">Message</label></div>
                    <div class="msg"> <input type="text" id="msg"></div><br><br>
                    <div class="btn" style="text-align: center;"><button>Submit</button></div>
                </form>
            </div>

            <div class="basicInfo">
                <div class="basicContact">
                    <p><span style="text-decoration: underline;">Contact</span><br><br>ArticleVerse@gmail.in <br>+91
                        9868 999 999</p><br>
                    <p><span style="text-decoration: underline;">Based In</span><br>Delhi @India</p>
                </div>

                <div class="basicIcons">
                    <i class="fa-brands fa-facebook"></i><i class="fa-brands fa-whatsapp"></i><i
                        class="fa-brands fa-instagram"></i><i class="fa-brands fa-youtube"></i>
                </div>
            </div>
        </div>
</body>

</html>