<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/signup.css">
    <%- include("includes/impLinks.ejs") %>
        <title>Document</title>
        <style>
            .basic:hover {
                border-color: white;
                animation: border-glow 700ms infinite alternate;
            }

            @keyframes border-glow {
                from {
                    border-color: #f6f8f6;
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
                }

                to {
                    border-color: #ffffff;
                    box-shadow: 0 0 10px rgba(255, 255, 255, 1);
                }
            }
        </style>
</head>

<body>
    <%- include("includes/navbar.ejs") %>
        <%- include("includes/flash.ejs") %>

            <form method="post" action="http://localhost:8080/authors/login">
                <div class="container">

                    <div class="info">
                        <div class="basic">
                            <input type="text" name="username" placeholder="Enter your username" required>
                            <input type="email" name="mail" placeholder="Enter your email id" style="color: wheat;"
                                required>
                            <input type="password" name="password" placeholder="Enter your password" required>
                        </div>

                        <div class="btn" style="height: 5rem; margin: auto 0.1rem; width: 40%;">
                            <button style="font-size: 2.5rem;">Login</button>
                        </div>

                    </div>

            </form>

</body>

</html>