<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("includes/impLinks.ejs") %>
    <link rel="stylesheet" href="/newMinor.css">
    <title>Create New Submajor</title>
</head>
<body>
    <%- include("includes/navbar.ejs") %>

    <div class="container">
        <h1>Create New Subtopic</h1><br>
        <form method="post" action="http://localhost:8080/majors/<%=obj.id%>/submajor/new">
            <label for="title">Title</label><br>
            <input name="title" type="text" id="title" required><br><br>

            <label for="description">Description</label><br>
            <textarea name="description" id="description" rows="9" cols="75" required minlength="2"></textarea><br><br>

            <button style="transform: translateX(0.8rem);">Create</button>
        </form>
    </div>


    <%- include("includes/footer.ejs") %>
</body>
</html>