<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;1,800&family=Plus+Jakarta+Sans:wght@200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
        integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/newMinor.css">
    <title>Document</title>
</head>
<body>
    <%- include("includes/navbar.ejs") %>

    <div class="container">
        <h1>Create New Subtopic</h1><br>
        <form method="post" action="http://localhost:8080/majors/<%=obj.id%>/submajor/new">
            <label for="title">Title</label><br>
            <input name="title" type="text" id="title" required><br><br>

            <label for="description">Description</label><br>
            <textarea name="description" id="description" rows="9" cols="75" required minlength="2"></textarea><br><br>

            <button style="transform: translateX(0.8rem);">Create</button>
        </form>
    </div>


    <%- include("includes/footer.ejs") %>
</body>
</html>