<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/signup.css">
    <%- include("includes/impLinks.ejs") %>
        <title>Sign in</title>
</head>

<body>
    <%- include("includes/navbar.ejs") %>

        <form method="post" action="http://localhost:8080/authors/signup">
            <div class="container">

                <div class="info">
                    <div class="basic">
                        <input type="text" name="name" placeholder="Enter full name" required>

                        <input type="text" name="username" placeholder="Create a unique username for yourself" required>
                        <input type="password" name="password" placeholder="Create a strong password" required>

                        <input type="url" name="image" placeholder="Enter a valid link for your image (*Only for Authors)"
                            style="color: wheat;"><br>

                        <input type="email" name="mail" placeholder="Enter your email id" style="color: wheat;"
                            required><br>

                        <input type="text" onfocus="(this.type='date')" name="birthdate"
                            placeholder="Enter Date of Birth" style="color-scheme: dark;" required>
                    </div>

                    <div class="description">
                        <textarea name="description" placeholder="Describe yourself in 200-300 words (*Only for Authors)" maxlength="1600"
                            ></textarea>

                            <div class="type">
                                <input type="radio" name="type" id="author" value="author">
                                <label for="author">Author</label>
                                &NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;
                                <input type="radio" name="type" id="user" value="user">
                                <label for="author">User</label>
                            </div>
                    </div>


                </div>

                <div class="btn">
                    <button>Register</button>
                </div>

            </div>

        </form>

</body>

</html>