<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/signup.css">
    <%- include("includes/impLinks.ejs") %>
        <title>Sign in</title>

    <style>
        .file-upload {
            width: 70%;
            font-size: small;
            opacity: 0.5;
        }
    </style>
</head>

<body>
    <%- include("includes/navbar.ejs") %>

        <form method="post" action="http://localhost:8080/authors/signup" enctype="multipart/form-data">
            <div class="container">

                <div class="info">
                    <div class="basic">
                        <input type="text" name="name" placeholder="Enter full name" required>

                        <input type="text" name="username" placeholder="Create a unique username for yourself" required>
                        <input type="password" name="password" placeholder="Create a strong password" required>

                        <label for="file" class="file-upload">Upload Image</label>
                        <input type="file" id="file" name="image" style="display: none;"><br>

                        <input type="email" name="mail" placeholder="Enter your email id" style="color: wheat;"
                            required><br>

                        <input type="text" onfocus="(this.type='date')" name="birthdate"
                            placeholder="Enter Date of Birth" style="color-scheme: dark;" required>
                    </div>

                    <div class="description">
                        <textarea name="description" placeholder="Describe yourself in 200-300 words (*Only for Authors)" maxlength="1600"
                            ></textarea>

                            <div class="type">
                                <input type="radio" name="type" id="author" value="author">
                                <label for="author">Author</label>
                                &NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;
                                <input type="radio" name="type" id="user" value="user">
                                <label for="author">User</label>
                            </div>
                    </div>


                </div>

                <div class="btn">
                    <button>Register</button>
                </div>

            </div>

        </form>

        <script>
            const lbl = document.querySelector(".file-upload"); 
            const fl = document.querySelector("#file");

            fl.addEventListener("change", () => { 
                lbl.innerText = fl.value;
                lbl.style.opacity = 0.8;
            })
        </script>

</body>

</html>