.footer {
    background-color: rgba(255, 255, 255, 0.041);
    color: whitesmoke;
    position: static;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.footerLink {
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerLink div {
    margin-right: 2rem;
    display: inline-block;
    font-size: 1rem;
    opacity: 0.5;
}

.footerIcon {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerIcon div {
    margin-right: 1rem;
    display: inline-block;
    font-size: 1rem;
    opacity: 0.5;
}

.footer div:hover {
    opacity: 1;
    transition: 300ms;
    cursor: pointer;
}

@media (max-width: 560px) {
    .footerLink,
    .footerIcon {
        flex-direction: column;
    }

    .footerLink div,
    .footerIcon div {
        margin-bottom: 0.5rem;
    }
}
