.footer {
    background-color: rgba(255, 255, 255, 0.041);
    color: whitesmoke;
    position: relative;
    width: 80%;
    bottom: 0;
    height: 4rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 20%;
}

.footerLink {
    padding-left: 14rem;
}

.footerLink span {
    margin-right: 2rem;
    font-size: 1rem;
    opacity: 0.5;
}

.footerIcon {
    padding-left: 22rem;
}

.footerIcon span {
    margin-right: 1rem;
    font-size: 1rem;
    opacity: 0.5;
}

.footer span:hover {
    opacity: 1;
    transition: 300ms;
    cursor: pointer;
}