body {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 10, 32);
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

.minors {
    width: 85vw;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: auto auto auto;
    place-items: center;
    min-height: 54vh;
}

.minor {
    width: 20rem;
    height: 31rem;
    background-color: rgba(255, 228, 196, 0.04);
    padding: 2rem 0rem 1rem 0rem;
    margin: 1.5rem 1rem;
}

.minor:hover {
    background-color: rgba(255, 228, 196, 0.1);
    transition: 500ms;
}

.minor .info {
    width: 90%;
    margin: 0rem auto;

}

.minor .img {
    width: 70%;
    height: 70%;
    margin: 0rem auto;
}

.minor img {
    height: 100%;
    width: 100%;
}

.minor li {
    color: white;
}

#filter {
    padding: 0.3rem;
    width: 7rem;
    border-radius: 0.7rem;
    font-size: 1.2rem;
    margin: 1rem 7%;
    float: inline-end;
    font-weight: bold;
    background-color: rgba(255, 228, 196, 0.2);
    color: wheat;
    border: none;
    position: relative;
}

.tags {
    position: absolute;
    top: 10%;
    background-color: rgba(255, 228, 196, 0.8);
    margin-left: 10%;
    min-height: 3rem;
    height: fit-content;
    padding: 0.5rem 2rem 0.5rem 2rem;
    border-radius: 1rem;
    width: 65%;
    display: none;
    align-items: center;
    flex-wrap: wrap;
}

.tags a {
    text-decoration: none;
}

.tags a button {
    padding: 0.5rem;
    width: fit-content;
    border-radius: 0.7rem;
    font-size: 1.2rem;
    margin-right: 1.2rem;
    font-weight: bold;
    background-color: rgb(0, 10, 32);
    color: wheat;
    border: none;
    cursor: pointer;
}

.tag-close {
    float: right;
    position: absolute;
    right: 1rem;
    font-size: 1rem;
    background-color: rgb(0, 10, 32);
    color: wheat;
    padding: 0.2rem;
    border-radius: 0.5rem;
}

@media (max-width: 1250px) {
    .minors {
        width: 95vw;
    }
}

@media (max-width: 1100px) {
    .minors {
        width: 90vw;
        grid-template-columns: auto auto;
    }
    .minor {
        width: 20rem;
        height: 25rem;
    }
    .minor .img {
        height: 60%;
        width: 60%;
    }
}

@media (max-width: 775px) {
    .minor {
        width: 15rem;
        height: 28rem;
    }
}

/* @media (max-width: 600px) {
    .minors {
        width: 95vw;
    }
    .minor{
        margin: 1.5rem 0;
    }
    .minor .img {
        width: 10rem;
        height: 15rem;
    }
}

@media (max-width: 550px) {
    .minors {
        grid-template-columns: auto;
    }
} */